{#**
 * Copyright since 2007 PrestaShop SA and Contributors
 * PrestaShop is an International Registered Trademark & Property of PrestaShop SA
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License version 3.0
 * that is bundled with this package in the file LICENSE.md.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/AFL-3.0
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@prestashop.com so we can send you a copy immediately.
 *
 * @author    PrestaShop SA and Contributors <contact@prestashop.com>
 * @copyright Since 2007 PrestaShop SA and Contributors
 * @license   https://opensource.org/licenses/AFL-3.0 Academic Free License version 3.0
 *#}
<dialog class="bootstrap dialog-notification" id="dialog-update-notification" aria-label="{{ 'Update notification' }}">
  <div class="dialog-notification__content">
    <div class="dialog-notification__left">
      <span class="dialog-notification__badge">
        {% if version_type == 'patch' %}
          {{ 'New available Patch'|trans({}) }}
        {% elseif version_type == 'minor' %}
          {{ 'New available Minor'|trans({}) }}
        {% elseif version_type == 'major' %}
          {{ 'New available Major'|trans({}) }}
        {% endif %}
      </span>

      <span class="dialog-notification__title">
        {{ 'New features are available'|trans({}) }}
      </span>
    </div>

    <div class="dialog-notification__right">
      <div class="dialog-notification__informations">
        <div class="dialog-notification__section">
          <span class="dialog-notification__section-title">
            {{ 'Description'|trans({}) }}
          </span>

          <p class="dialog-notification__section-content">
            {% if version_type == 'patch' %}
              {{ 'Patches are fixes made between major and minor versions. They introduce security and bug fixes.'|trans({}) }}
            {% elseif version_type == 'minor' %}
              {{ 'The minor releases introduce new backward-compatible features, security improvements and bug fixes.'|trans({}) }}
            {% elseif version_type == 'major' %}
              {{ 'Major releases introduce new features that may break backward compatibility, as well as new backward-compatible features and bug fixes.'|trans({}) }}
            {% endif %}
            <a class="dialog-notification__link" href="{{ release_note }}" target="_blank">{{ 'See the update'|trans({}) }}</a>
          </p>
        </div>

        <div class="dialog-notification__section">
          <span class="dialog-notification__section-title">
            {{ 'Version'|trans({}) }}
          </span>

          <p class="dialog-notification__section-content">
            {{ version }}
          </p>
        </div>

        <div class="dialog-notification__section">
          <span class="dialog-notification__section-title">
            {{ 'Type of improvements'|trans({}) }}
          </span>

          <p class="dialog-notification__section-content">
            {% if version_type == 'patch' %}
              {{ 'Bugs, security patches'|trans({}) }}
            {% elseif version_type == 'minor' %}
              {{ 'Bugs, security patches, new features'|trans({}) }}
            {% elseif version_type == 'major' %}
              {{ 'New features, Improvements to existing features, Security and bug fixes'|trans({}) }}
            {% endif %}
          </p>
        </div>

        <div class="dialog-notification__section">
          <span class="dialog-notification__section-title">
            {{ 'Need help?'|trans({}) }}
          </span>

          <p class="dialog-notification__section-content">
            {{ 'If you\'re having trouble performing the update, consider seeking help from the community or a qualified developer.'|trans({}) }}
            <a class="dialog-notification__link" href="{{ find_support_url }}" target="_blank">{{ 'Find Support'|trans({}) }}</a>
          </p>
        </div>
      </div>

      <div class="dialog-notification__buttons">
        <form id="remin-me-later-update" name="remind-me-later-update" action="" data-action="remind-me-later-update" class="dropdown dropup">
          <button type="button" class="dialog-notification__button btn btn-default dropdown-toggle" data-toggle="dropdown">
            {{ 'Remind me later'|trans({}) }}
          </button>
          <div class="dropdown-menu">
            <button data-dismiss="dialog" type="submit" class="dropdown-item" value="{{ dismiss_form_options['7_DAYS'] }}">
              {{ '7 days'|trans({}) }}
            </button>
            <button data-dismiss="dialog" type="submit" class="dropdown-item" value="{{ dismiss_form_options['30_DAYS'] }}">
              {{ '30 days'|trans({}) }}
            </button>
            <button data-dismiss="dialog" type="submit" class="dropdown-item" value="{{ dismiss_form_options['UNTIL_NEXT_RELEASE'] }}">
              {{ 'Until the next version'|trans({}) }}
            </button>
          </div>
        </form>
        <form id="submit-update" name="submit-update" action="" data-action="submit-update">
          <button type="submit" class="dialog-notification__button btn btn-primary" autofocus>
            {{ 'Update'|trans({}) }}
          </button>
        </form>
      </div>
    </div>
  </div>
</dialog>
